:root {
  --bg-primary: #ffffff;
  --bg-secondary: #fca311;
  --bg-accent: #14213d1a;
  --bg-muted: #f0ede5;

  --text-primary: #ffffff;
  --text-secondary: #14213d;
  --text-accent: #050d04cc;
  --text-muted: ;
  --text-inverted: ;

  --light-grey: #f0ede5;
  --medium-grey: #dad9d4;

  --fixed-width: 1280px;

  --base-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

form {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
}

input,
textarea {
  border: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

h3 {
  text-transform: uppercase;
}

.container {
  position: relative;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  color: var(--text-primary);
}

/* common styles */

.color-line {
  display: block;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(
    to right,
    var(--text-secondary) 0%,
    var(--text-secondary) 50%,
    var(--bg-secondary) 50%,
    var(--bg-secondary) 100%
  );
}

.color-line-2 {
  display: block;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(
    to right,
    var(--text-primary) 0%,
    var(--text-primary) 50%,
    var(--bg-secondary) 50%,
    var(--bg-secondary) 100%
  );
  margin: 40px 0 30px;
}

.overlay-image {
  width: 100%;
  height: 530px;
  background-image: linear-gradient(to right, #14213dde, #14213dde),
    url('./../assets//images/cleaner-3.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* navbar */

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s;
}

.nav-items {
  width: 950px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  list-style-type: none;
  padding: 0;
}

.nav-items ul li a {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
  position: relative;
}

/* hero section */

.hero {
  height: 900px;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(20, 33, 61, 0.5),
    rgba(5, 13, 4, 0.5)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/* TODO: Fix video width */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content .items {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content .items .title {
  text-align: center;
  margin: 50px 0 38px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: center;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 16px 20px;
  border-radius: var(--base-radius);
  border: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  color: var(--text-secondary);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--bg-secondary);
}

.btn-secondary {
  background-color: var(--bg-primary);
}

/* services */

.services {
  background-color: var(--bg-muted);
  padding-top: 150px;
}

.services-title-container {
  width: 800px;
  margin: 0 auto;
}

.services-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: var(--text-secondary);
  margin-bottom: 40px;
  text-transform: uppercase;
}

.services-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: center;
  color: var(--text-secondary);
  margin-top: 40px;
}

.services-container {
  padding-top: 99px;
  width: var(--fixed-width);
  margin: 0 auto;
}

.services-img-cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.services-img-card img {
  width: 100%;
  height: 100%;
}
.services-img-card {
  position: relative;
  width: 305px;
  height: 364px;
  border-radius: var(--base-radius);
  overflow: hidden;
}

.services-img-title {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  background-color: var(--text-secondary);
}

.services-img-title h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: center;
  color: var(--text-primary);
}

.services-commercials {
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  border-radius: var(--base-radius);
  overflow: hidden;
}

.services-commercials img {
  width: 100%;
  height: 100%;
}

.commercials-description {
  background-color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 35px;
}

.commercials-description h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--text-primary);
}

.commercials-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: var(--text-primary);
  margin: 40px 0;
}

.commercials-description button {
  border: 0;
  background-color: var(--bg-secondary);
  border-radius: var(--base-radius);
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  cursor: pointer;
}

/* standout section */

.standout-options {
  background-color: #f0ede5;
  padding: 150px 0;
}

.standout-options-card-container {
  width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding-top: 99px;
}

.standout-options-card {
}

.standout-options-card h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: var(--text-secondary);
  margin: 30px 0 20px;
}

.standout-options-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  color: var(--text-accent);
}

.reviews {
  background-color: var(--medium-grey);
  padding: 160px 0;
}

.reviews-container {
  width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.reviews-title-container {
}

.reviews-title-container h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: var(--text-secondary);
  margin-bottom: 40px;
}

.reviews-title-container p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  margin: 30px 0;
  color: var(--text-accent);
}

.reviews-btn-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.reviews-btn-container button {
  padding: 0 20px;
  height: 46px;
  border-radius: var(--base-radius);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.reviews-btn-primary {
  background-color: var(--text-secondary);
  color: var(--text-primary);
}

.reviews-btn-secondary {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.reviews-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.reviews-card-container-1,
.reviews-card-container-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews-card-container-1 .reviews-card {
  height: 230px;
}

.reviews-card-container-2 .reviews-card:first-child {
  height: 272px;
}

.reviews-card-container-2 .reviews-card:last-child {
  height: 188px;
}

.reviews-card {
  background-color: #14213d1a;
  border-radius: var(--base-radius);
  padding: 30px 20px;
  width: 410px;
}

.reviewer-info {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-top: 25px;
}

.reviewer-info img {
  width: 50px;
  height: 50px;
}

.reviewer-details {
}

.reviewer-details h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-secondary);
}

.reviewer-details p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  color: var(--text-accent);
}

/* Contact section */

.contact {
  /* height: 530px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
}

.contact-title-container {
}

.contact-title-container h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: var(--text-primary);
}

.contact-title-container p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  color: var(--text-primary);
}

.contact-title-container button {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--bg-secondary);
  border-radius: var(--base-radius);
  padding: 20px 21px;
}

.contact-title-container button p {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-secondary);
}

.contact-form-container {
  width: 780px;
  background-color: var(--bg-secondary);
  height: 428px;
  padding: 20px 0 20px 20px;
  border-radius: 24px;
}

.contact-form-container form {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  height: 100%;
}

.contact-form-input {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.contact-form-input input[type='text'],
.contact-form-input input[type='email'],
.contact-form-input input[type='number'] {
  padding: 0 16px;
  height: 48px;
}

.contact-form-input textarea {
  padding: 18px 16px 17px;
  height: calc(100% - 144px);
  resize: none;
}

.contact-form-input input,
.contact-form-input textarea,
.contact-form-input input::placeholder,
.contact-form-input textarea::placeholder {
  border-radius: var(--base-radius);
  font-size: 18px;
  font-weight: 400;
  color: var(--text-secondary);
}

.contact-form-services {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.contact-form-services h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-secondary);
}

.contact-form-services-radio-container {
  margin: 17px 0 21px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex: 1;
}

.contact-btn-container {
  padding-right: 20px;
}

.contact-btn-container button {
  background-color: var(--text-secondary);
  color: var(--bg-primary);
  border-radius: var(--base-radius);
  width: 100%;
  padding: 16px;
}

.contact-form-services-radio-container .custom-radio {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  position: relative;
}
.contact-form-services-radio-container .custom-radio .custom-radio-btn {
  height: 10px;
  width: 10px;
  border: 1px solid var(--text-secondary);
  border-radius: 2px;
  position: relative;
}

.contact-form-services-radio-container .custom-radio .custom-radio-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: var(--text-secondary);
  border: 1px solid transparent;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.custom-radio input[type='radio']:checked + .custom-radio-btn::after {
  opacity: 1;
}

.contact-form-services-radio-container .custom-radio input[type='radio'] {
  display: none;
}
.contact-form-services-radio-container .custom-radio label {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary);
}

/* Power washing service section */

.washing-service-section {
  background-color: var(--light-grey);
}

.power-washing-section-container {
  width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 108px;
  padding: 150px 0;
}

.power-washing-section-title-container {
}
.power-washing-section-title-container h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: var(--text-secondary);
  margin-bottom: 40px;
}
.power-washing-section-title-container p {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  counter-reset: var(--text-accent);
}
.power-washing-section-title-container button {
  margin-top: 30px;
}

.power-washing-img {
}

/* Excellence section*/

.excellence {
  background-color: var(--medium-grey);
  padding: 166px 0;
}

.excellence-container {
  width: var(--fixed-width);
  margin: 0 auto;
}

.excellence-title-container {
  width: 1220px;
  margin: 0 auto;
}

.excellence-title-container h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: var(--text-secondary);
  margin-bottom: 40px;
}

.excellence-title-container p {
  margin: 40px 100px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: center;
  color: var(--text-accent);
}

.excellence-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

.excellence-btn-container button {
  height: 45px;
  padding: 0 20px;
  border-radius: var(--base-radius);
  font-size: 18px;
  font-weight: 400;
  color: var(--text-secondary);
  background-color: #14213d1a;
}

.active {
  background-color: var(--text-secondary) !important;
  color: var(--text-primary) !important;
}

.excellence-img-container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, max-content);
  grid-gap: 20px;
}

.excellence-img-container img {
  border-radius: 20px;
}

/* Map location */

.location {
  padding: 150px 0;
  background-color: var(--light-grey);
}

.location-container {
  width: var(--fixed-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 630px 600px;
  grid-gap: 50px;
}

.location-map {
  background-color: var(--medium-grey);
  border-radius: 20px;
}

.location-details {
}

.location-title {
}

.location-title h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: var(--text-secondary);
  margin-bottom: 40px;
}
.location-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  margin: 30px 0;
}

.selected-cities {
  margin-top: 30px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-left: 20px;
}

.selected-cities ul {
}

.selected-cities li {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.56px;
  color: var(--text-accent);
  list-style-type: disc;
}

/* Section: Make appointment */

.appointment {
  padding: 150px 0;
}

.appointment-container {
  width: var(--fixed-width);
  margin: 0 auto;
  color: var(--text-primary);
}

.appointment-container h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.appointment-container p {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: center;
}

.appointment-btn-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.appointment-btn-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 56px;
  padding: 0 20px;
  border-radius: var(--base-radius);
  color: var(--text-secondary);
  cursor: pointer;
}

.appointment-btn-container button:first-child {
  background-color: var(--bg-secondary);
}
.appointment-btn-container button:last-child {
  background-color: var(--bg-primary);
}

/* Accordion question section */

.accordion-section {
  background-color: var(--light-grey);
  padding: 150px 0 171px;
}

.accordion-section-container {
  width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 59px;
}

.accordion-section-title {
  width: 468px;
  padding-right: 59px;
}

.accordion-section-title h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: var(--text-secondary);
  margin-bottom: 40px;
}

.accordion-section-title span {
  width: 364px;
}
.accordion-section-title p {
  margin: 40px 0;
}

.accordion {
  width: 760px;
}

.accordion li {
  list-style-type: none;
}

.accordion-content {
  width: 100%;
  border-radius: 10px;
  background-color: #14213d1a;
}

.accordion label {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #14213d1a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: var(--text-secondary);
  margin-bottom: 10px;
}

.accordion label span {
  display: block;
  background-color: red;
  height: 8px;
  width: 8px;
}

.accordion-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: var(--text-accent);
  height: 0;
  padding: 0 20px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion input[type='radio'] {
  display: none;
}

.accordion input[type='radio']:checked + .accordion-content {
  padding: 15px 20px;
  height: max-content;
  margin: 10px 0;
}

/*//////////////////////////// TODO: Change color of the accordion  */
.accordion input[type='radio']:checked + label {
  background-color: var(--text-secondary);
  color: var(--text-primary);
}

/* footer */

.footer {
  background-color: var(--text-secondary);
}

.footer,
.footer a,
.footer p {
  color: var(--bg-primary);
}

.footer li {
  list-style-type: none;
}

.footer-container {
  width: var(--fixed-width);
  margin: 0 auto;
  padding-top: 50px;
}

.main-footer {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 120px;
  padding-bottom: 106px;
}

.footer-schedules p {
  margin-bottom: 16px;
}

.footer-schedules h4 {
  margin: 54px 0 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: left;
}

.footer-title-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
}

.footer-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  margin-bottom: 15px;
}

.footer-title h4 {
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  color: var(--text-primary);
}

.footer-details {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 47px;
}

.footer-details-specifications:first-child {
  min-width: 142px;
  margin-right: 94px;
}

.footer-details-specifications:nth-child(2) {
  width: 200px;
  margin-right: 117px;
}

.footer-details-specifications:last-child {
  width: 250px;
}

.footer-details-specifications h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: left;
  margin-bottom: 49px;
}
.footer-details-specifications ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-details-specifications li {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 6px;
}

.secondary-footer {
  border-top: 2px solid var(--bg-primary);
  padding: 26px 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secondary-footer a:first-child {
  margin-right: 60px;
}
